@keyframes slideInLeft {
    0% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

@keyframes slideInRight { 
    0% { transform: translateX(200%); } 
    100% { transform: translateX(0); } 
}

@keyframes slideInTop { 
    0% { transform: translateY(-200%); } 
    100% { transform: translateY(0); } 
}

@keyframes rotateIn {
    0% { transform: rotate(360deg); }
    100% {transform: rotate(0);}
}

@keyframes rotateOut {
    0% {transform: rotate(0);}
    100% { transform: rotate(360deg); }
}

body {
    background-color: #0c1216;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}

button:active {
    opacity: 0.7;
}

.enable_text_selection {
    user-select: text; /* standard syntax */
    -webkit-user-select: text; /* webkit (safari, chrome) browsers */
    -moz-user-select: text; /* mozilla browsers */
    -khtml-user-select: text; /* webkit (konqueror) browsers */
    -ms-user-select: text; /* IE10+ */
}

.disable_text_selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#box {
    margin-top: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    min-width: 1000px;
}

#grid {
    display: grid;
    grid-template-columns: 370px 2px 4fr;
}

#left {
    color: white;
    background-color: #111B21;
    height: 90vh;
    min-width: 370px;
    min-height: 600px;
    display: grid;
    grid-template-rows: 65px 1fr 11fr;
    animation: 1s slideInLeft;
}

#profile-setting_box {
    background-color: #202C33;
    height: 65px;
}

#profile-setting {
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100fr 1fr 1fr;
}

#user-profile-picture {
    background-color: transparent;
    background-size: cover;
    border: 0;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100px;
    margin-bottom: 6px;
    transition: all .2s ease-in-out;
}
#user-profile-picture:hover { transform: scale(1.1); }

#StartNewChat {
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    margin-right: 12.5px;
    translate: 2px 4px;
} #StartNewChat:hover {cursor: pointer;} #StartNewChat:active {opacity: 0.7;}

#setting-button {
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 12.5px;
    translate: 2px 4px;
    animation: 0.5s rotateIn;
} 
#setting-button:hover {cursor: pointer; animation: 0.5s rotateOut;} 
#setting-button:active {opacity: 0.7;}

#search_bar_box {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#search_chat {
    margin-bottom: 10px;
    width: 90%;
    font-size: 20;
    height: 20px;
    border-radius: 8px;
    background-color: #202C33;
    border-color: transparent;
    color: rgb(200, 200, 200);
}

#search_bar_chat_list_sep {
    border-top: 1px solid rgb(33, 170, 33);
    border-radius: 5px;
    border-color: rgb(33, 170, 33);
}

.chats_list {
    overflow: hidden;
    overflow-y: scroll;
}

#create_chat_or_group {
    position: relative;
    left: calc(50% - 40px);
    width: 80px;
    margin-bottom: 20px;
    background-color: forestgreen;
    color: white;
    border: 0 transparent;
}

.chat {
    display: block;
    max-width: 100%;
    max-height: 100%;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.chat:hover {
    cursor: pointer;
    transform: scale(1.05); 
}

.chat:active {
    opacity: 0.6;
}

.chat-picture {
    border: 0;
    background-color: transparent;
    background-size: cover;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 15px;
}

.chat-name {
    text-align: left;
    font: bold;
    font-size: large;
    margin-bottom: 5px;
}

.chat-last-message {
    text-align: left;
    display: inline;
    font-size: medium;
}

.chat-last-message-time {
    display: inline;
    float: right;
    margin-right: 7px;
    font-size: small;
    margin-top: 4px;
}

.create_chat_or_group_checkbox {
    display: block;
    margin-right: 7px;
}

.rounded-chat-sep {
    border-top: 1px solid black;
    border-radius: 5px;
    border-color: black;
}

#left_right_sep {
    border-left: 2px solid black;
    height: 90vh;
    min-height: 600px;
    animation: 1s slideInTop;
}

#right {
    background-image: url("imgs/chat_bg.png");
    background-size: contain;
    animation: 1s slideInRight;
    color: white;
    height: 90vh;
    min-height: 600px;
    display: grid;
    grid-template-rows: 65px 12fr;
}

#chat_status_box {
    background-color: #202C33;
}

#chat_status_bar {
    margin-top: 12px;
    margin-left: 30px;
    height: fit-content;
}

#status-bar-picture {
    border: 0;
    background-size: cover;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 15px;
    display: inline;
}

#status-name-last-seen-box {
    float: left;
}

#status-bar-name {
    font-size: large;
    display: block;
}

#status-bar-last-seen {
    font-size: smaller;
    padding-top: 5px;
}

#call_btn {
    filter: brightness(0) invert(1);
    background-size: cover;
    width: 50px;
    height: 50px;
    float: right;
    transform: translateX(-40%) translateY(-10%);
} #call_btn:hover {cursor: pointer;} #call_btn:active {opacity: 0.7;}

#chat {
    padding-top: 80px;
    margin-top: 2px;
    margin-bottom: 30px;
    overflow-y: scroll;
}

.msg_row {
    clear: both;
    margin-left: 1%;
    max-width: 50vh;
}

.msg_box {
    /* background-color: rgb(219, 219, 12); */
    background-color: #202C33;
    border-radius: 30000000000px;
    padding: 2px;
    width: fit-content;
    height: fit-content;
}

.my_msg_row {
    clear: both;
    float: right;
    margin-right: 3%;
    max-width: 50vh;
}

.my_msg_box {
    /* background-color: rgb(202, 128, 141); */
    background-color: #095B4A;
    border-radius: 30000000000px;
    padding: 2px;
    width: fit-content;
    height: fit-content;
}

.msg_data {
    margin: 15px;
    margin-left: 5px;
    margin-right: 20px;
    min-height: fit-content;
    min-width: fit-content;
}

.msg_sender {
    font-size: smaller;
    color: white;
    padding-bottom: 4px;
}

.msg_text {
    color: white;
    font-size: large;
    padding: 1px;
}

#chat_actions {
    display: inline;
    text-align: center;
    /* #202C33 */
    /* background-color: rgba(32, 44, 51, 0.5); */
    max-height: 54px;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(-20%);
    overflow: hidden;
}

#left_side_actions {
    display: inline;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    bottom: 15%;
}

#upload_file {
    background-color: transparent;
    background-size: cover;
    margin-right: 12.5px;
    border: 0;
    width: 50px;
    height: 50px;
    transform: translateY(-5%);
} #upload_file:hover {cursor: pointer;} #upload_file:active {opacity: 0.7;}

#emoji_drawer_btn {
    background-color: transparent;
    background-size: cover;
    margin-left: 12.5px;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    transform: translateY(-5%);
} #emoji_drawer_btn:hover {cursor: pointer;} #emoji_drawer_btn:active {opacity: 0.7;}

#drawer { 
    background-color: #c0c0c0;
    position: fixed;
    bottom: 13.8%;
    width: 75.4%;
}

#emoji-drawer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.emoji {
    text-align: center;
    font-size: 24px;
    padding: 8px;
}

.emoji:hover {
    cursor: pointer;
}

#delete_recording {
    background-color: transparent;
    background-size: cover;
    margin-right: 12.5px;
    border: 0;
    width: 50px;
    height: 50px;
    transform: translateY(-5%);
} #delete_recording:hover {cursor: pointer;} #delete_recording:active {opacity: 0.7;}

#input_box {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

#msg_input {
    background-color: #2A3941;
    color: rgb(200, 200, 200);
    border-radius: 8px;
    font-size: large;
    border: 0;
    width: 84%;
    height: 50px;
    overflow: hidden;
    overflow-y: scroll;
    resize: none;
}

#right_side_actions {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#send_msg {
    background-color: transparent;
    background-size: cover;
    border: 0;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    transform: translateY(-5%);
} #send_msg:hover {cursor: pointer;} #send_msg:active {opacity: 0.7;}

#record_msg {
    background-color: transparent;
    background-size: cover;
    border: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transform: translateY(-5%);
} #record_msg:hover {cursor: pointer;} #record_msg:active {opacity: 0.7;}


                    /* Scrollbar Style */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #182c1b;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* background: rgb(33, 170, 33); */
    background: transparent;
    -webkit-box-shadow: inset 0 0 6px #02470e;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 170, 33) !important;
}